.header {
    background: darken($mil-coral, 20%);
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $m-size 0;
}

.header__title{
    color: white;
    text-decoration:none;

    h1{
        font-style: italic;
        margin:0;
    }
}